@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import "variables.css";

/* components*/
@import "components/icon_text_components.css";
@import "components/main_header.css";
@import "components/nav_bar.css";

/*CSS*/
@import "friends.css";
@import "reset.css";
@import "index.css";
@import "chats.css";
@import "search.css";
@import "more.css";
body {
  font-family: "Do Hyeon", sans-serif;
}
.main_margin {
  margin-left: 25px;
  margin-right: 25px;
}
a {
  text-decoration: none;
  color: black;
}
.red_circle_icon {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4px;
  right: -8px;
}
